{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Все формы</h1>
  <ul class="form-list">
    {% for form in forms %}
      <li><a href="{% url 'form_detail' form.pk %}">{{ form.name }}</a></li>
    {% empty %}
      <li>Нет доступных форм.</li>
    {% endfor %}
    </ul>
    <h2>Пройденные формы</h2>
    <ul class="form-list">
      {% for submission in finished_submissions %}
        <li>
          <a href="{% url 'form_submission_detail' submission.pk %}">
            {{ submission.form.name }}
          </a>
        </li>
      {% empty %}
        <li>Нет пройденных форм.</li>
      {% endfor %}
    </ul>
</div>
{% endblock %}